
body {
    background: #323232;
    color: #dcdcdc;
    
    a {
        color: #dcdcdc;
    }

    .nav {
        background: #323232;

        .icon{
            font-size: 1.25em;
        }
    }


}
